{{#deleteid}}
    {{> core/notification }}{{ /core/notification }}
{{/deleteid}}

<div class="table-responsive mt-3">
    <table class="table">
        <thead>
        <tr>
            <th class="font-weight-bold">Email subject line</th>
            <th class="font-weight-bold">Related course module</th>
            <th class="font-weight-bold">Group</th>
            <th class="font-weight-bold">Modify</th>
        </tr>
        </thead>
        {{#rows}}
        <tr>
            <td>{{title}}</td>
            <td>{{coursemodule}}</td>
            <td>{{#group}}{{group}}{{/group}}</td>
            <td class="text-center"><a href="{{editurl}}">{{edittext}}</a> | <a href="{{deleteurl}}">{{deletetext}}</a></td>
        </tr>
        {{/rows}}
    </table>
    <a class="btn btn-primary float-right" href="{{addurl}}">
        {{addtext}}
    </a>

</div>