<div class="table-responsive mt-3">
    <div class="p-3 bg-lb50a">
        {{#str}}monitoredevent, local_followup_email{{/str}}: {{eventlabel}}
        {{#monitorstarttime}}
        <span class="d-block">{{#str}}monitorstart, local_followup_email{{/str}}{{monitorstarttime}}</span>
        {{/monitorstarttime}}
        {{#monitorendtime}}
        <span class="d-block">{{#str}}monitorend, local_followup_email{{/str}}{{monitorendtime}}</span>
        {{/monitorendtime}}
    </div>


    <table class="table mt-0">
        <thead>
        <tr>
            <th class="font-weight-bold">{{#str}}user, local_followup_email{{/str}}</th>
            <th class="font-weight-bold">{{#str}}eventtime, local_followup_email{{/str}}</th>
            <th class="font-weight-bold">{{#str}}status, local_followup_email{{/str}}</th>
        </tr>
        </thead>
        {{#rows}}
            <tr>
                <td>{{fullname}}</td>
                <td>{{eventtime}}</td>
                <td class="{{cellcolor}}">{{sendtime}}
                    {{#willnotsendinfo}}
                        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="{{willnotsendinfo}}"><i class="far fa-info-circle {{iconcolor}}"></i></a>
                {{/willnotsendinfo}}
                </td>
            </tr>
        {{/rows}}
    </table>
</div>
<a class="btn btn-light" href="{{indexurl}}">
    {{#str}}returntoindex, local_followup_email{{/str}}
</a>