<div class="table-responsive mt-3">
    <table class="table">
        <thead>
        <tr>
            <th class="font-weight-bold">User</th>
            <th class="font-weight-bold">Activity completion</th>
            <th class="font-weight-bold">Date email will be sent</th>
            <th class="font-weight-bold">Email sent?</th>
            <th class="font-weight-bold">Enrolled</th>
        </tr>
        </thead>
        {{#rows}}
            <tr>
                <td>{{fullname}}</td>
                <td>{{completion_time}}</td>
                <td>{{email_to_be_sent}}</td>
                <td>{{email_time_sent}}</td>
                <td>{{#is_enrolled}}Yes{{/is_enrolled}}{{^is_enrolled}}No{{/is_enrolled}}</td>
            </tr>
        {{/rows}}
    </table>
</div>
<a class="btn btn-light" href="{{indexurl}}">
    {{returntext}}
</a>