<div class="table-responsive mt-3">

    <div class="p-3 bg-y50 border-y300">
        {{monitoredeventtext}}: {{monitoredevent}}
        {{#monitorstart}}
        <span class="d-block">Monitor start: {{monitorstart}}</span>
        {{/monitorstart}}
        {{#monitorend}}
        <span class="d-block">Monitor end: {{monitorend}}</span>
        {{/monitorend}}
    </div>


    <table class="table small">
        <thead>
        <tr>
            <th class="font-weight-bold">{{user}}</th>
            <th class="font-weight-bold">{{event}}</th>
            <th class="font-weight-bold">{{sendtime_heading}}</th>
            <th class="font-weight-bold">{{emailsent_heading}}</th>
        </tr>
        </thead>
        {{#rows}}
            <tr>
                <td>{{fullname}}</td>
                <td>{{eventtime}}</td>
                <td class="{{cellclass}}">{{sendtime}}
                    {{#sendtimeinfo}}
                        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Email will not be sent" data-content="{{sendtimeinfo}}"><i class="far fa-info-circle r600"></i></a>
                {{/sendtimeinfo}}</td>
                <td>{{emailsent}}</td>
            </tr>
        {{/rows}}
    </table>
</div>
<a class="btn btn-light" href="{{indexurl}}">
    {{returntext}}
</a>